@model IEnumerable<Logic.Friend>

@{
    ViewBag.Title = "ViewFriends";
}

<h2>ViewFriends</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Profile", "SeeOtherProfile", "Profile", new { id=item.FirstUser.Id }, new { }) |
        
        </td>
        <td>
            @Html.DisplayFor(modelitem => item.FirstUser.UserName)
        </td>
    </tr>
}

</table>
