@model IEnumerable<Logic.FriendRequest>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            User
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.From.UserName)</td>
        <td>
            @Html.DisplayFor(modelItem => item.From.FirstName)
        </td>
        <td>
            @Html.ActionLink("Accept", "Accept", new { id=item.Id }) |
            @Html.ActionLink("Decline", "Decline", new { id=item.Id }) |

           
        </td>
    </tr>
}

</table>
