@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Finder is a low quality dating site which assures you an uncomfortable experience with a lot of confusion and unpleasant events!</p>
<h1> WELCOME!</h1>