@{
    ViewBag.Title = "Home Page";
}

    <img src="~/Content/FinderLogo.png" height="300" width="800" /> 
<div class="row">
    <div class="col-md-4">
        <h2>asdas</h2>
        <p> asd
        </p>
        
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>